AWG_IPT2SOCKS_PORT=${AWG_IPT2SOCKS_PORT}
AWG_IPT2SOCKS_PORT_IPV6=${AWG_IPT2SOCKS_PORT_IPV6}
AWG_UDP_RELAY_PORT=${AWG_UDP_RELAY_PORT}
AWG_UDP_RELAY_PORT_IPV6=${AWG_UDP_RELAY_PORT_IPV6}
AWG_NFQUEUE_NUM=${AWG_NFQUEUE_NUM}
AWG_TUNNEL_SUBNET_IPV4=${AWG_TUNNEL_SUBNET_IPV4}
AWG_TUNNEL_SUBNET_IPV6=${AWG_TUNNEL_SUBNET_IPV6}
AWG_TUNNEL_GATEWAY_IPV4=${AWG_TUNNEL_GATEWAY_IPV4}
